body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

.dark-mode table {
  background-color: #1f1f1f;
}

.dark-mode .btn-close {
  border-color: #f1f1f1;
  background-color: white;
}

.dark-mode select {
  background-color: #222;
  color: #f1f1f1;
  border: 1px solid #555;
}

.dark-mode .modal-content {
  background-color: #2a2a2a;
  color: #f1f1f1;
}
